#animatedtitle,
#animateteam,
#animateclients {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	opacity: 0;
}


#mision-contenido{
	opacity: 0;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	

}

#vision-contenido {
	opacity: 0;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;

}

#valor-contenido{
	opacity: 0;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}