.main-marketing{
	height: 100vh;
	
	@include to(l){
		height: auto;
	}	
}

.duda{
	color: $color2;
	text-align: center;
	text-transform: uppercase;
	font-size: 18pt;
	margin-top: 50px;
	margin-bottom: 30px;


}

.contenttext{
	text-align: center;
	color: #4C4C4C;

	.last{
		margin-top: 0;
	}

	.texto{
		margin-bottom: 0;
	}
}

.gallery {
 	@include grid('.image',4 );

 	@include to(l){
		@include grid('.image',3 );
	}

	@include to(m){
		@include grid('.image',2 );
	}

	display: flex;
    justify-content: center;
    align-items: center;

    .image {

    	display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px 0px;

		@include to(xl) {
			padding: 5px 0px;
		}

    }
}

.logomkt {
	text-align: right;
}