.duda{
	color: $color2;
	text-align: center;
	text-transform: uppercase;
	font-size: 18pt;
}

.contenttext{
	text-align: center;
	color: #4C4C4C;

	.last{
		margin-top: 0;
	}

	.texto{
		margin-bottom: 0;
	}
}

.gallery {
 	@include grid('.image',4 );

 	@include to(l){
		@include grid('.image',2 );
	}

	display: flex;
    justify-content: center;
    align-items: center;

    .image{
    	display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 0px;
    }
}
