ul.second-menu
	li.second-menu__item: a(href="https://www.facebook.com/UNA45-1200782933370620/").second-menu__link: img(src="img/Social_Facebook_100x100.png", width=30 height=30, alt="").social
	li.second-menu__item: a(href="https://twitter.com/una45_mx").second-menu__link: img(src="img/Social_Twitter_100x100.png", width=30 height=30, alt="").social
	li.second-menu__item: a(href="").second-menu__link Síguenos