ul.main-menu#main-menu
	li.main-menu__item: a(href="#nosotros").main-menu__link.first.active Nosotros
	li.main-menu__item: a(href="#nuestro_equipo").main-menu__link Nuestro Equipo
	li.main-menu__item: a(href="#nuestros_clientes").main-menu__link Nuestros Clientes
	li.main-menu__item: a(href="#contacto").main-menu__link.last Contacto