
<ul class="second-menu">
  <li class="second-menu__item"><a class="second-menu__link" href="https://www.facebook.com/UNA45-1200782933370620/" target="_blank"><img class="social" src="img/Social_Facebook_100x100.png" width="30" height="30" alt=""/></a></li>
  <li class="second-menu__item"><a class="second-menu__link" href="https://twitter.com/una45_mx" target="_blank"><img class="social" src="img/Social_Twitter_100x100.png" width="30" height="30" alt=""/></a></li>
  <li class="second-menu__item"><a class="second-menu__link" href="">Síguenos</a></li>
</ul>